.lat{
    color: white !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
    background-color: rgba(133, 47, 16, 0.454);
    font-family: fantasy;
    font-size: 28px;
}

.nav-txt{
    font-family: fantasy;
    font-weight: bolder;
    font-size: 20px;
}


h1{

    font-family: fantasy;
    color: royalblue;
}

.img{
    width: 200px;
    height: 200px;
}

.img1{
    width: 300px;
    height: 300px;
    float: left;
}

.container{
    margin-top: 20px;
}

.txt{
    text-align: justify;
}

#vs{
    width: 500px;
    height: 450px;
}

@media (max-width: 600px){
    .vis{
        float: left;
    }
}