.lat{
    color: white !important;
    padding: 5px;
    background-color: aquamarine;
}

.img{
    width: 200px;
    height: 200px;
}

.img1{
    width: 250px;
    height: 250px;
    float: left;
}

.container{
    margin-top: 20px;
}

.txt{
    text-align: justify;
}

#vs{
    width: 500px;
    height: 450px;
}

@media (max-width: 600px){
    .vis{
        float: left;
    }
}